@use '../global';
@use 'photo-credit';

.assigned .photo {
    position: relative;

    margin: 3px;
    line-height: 0;

    img {
        @include global.rounded-corners;

        font-size: 0.75rem;
        background-color: rgb(100, 100, 100);
    }

    a {
        @include photo-credit.photo-credit;
    }
}
