@use '../global';

button {
    @include global.soft-border;
    @include global.form-padding;

    margin: 8px;
    background-color: rgb(125, 144, 228);
    color: 3px solid rgb(0, 0, 0);

    &:hover {
        background-color: rgb(182, 222, 245);
    }

    &:disabled {
        background-color: rgb(146, 146, 146);
        border-color: rgb(88, 88, 88);
        color: rgb(88, 88, 88);
    }
}