@use '../global';
@use 'photo-credit';

.current {
    // position anchor for credit
    position: relative;
    
    margin: 1rem;
    line-height: 0;
    
    img {
        @include global.rounded-corners;
        @include global.basic-shadow;
    }

    a {
        @include photo-credit.photo-credit;
        left: auto;
        border-bottom-left-radius: 0;
    }
}
