@use '../global';

.email-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &>li {
        @include global.rounded-corners;
        @include global.basic-shadow;
        background-color: rgb(235, 148, 174);
        margin: 10px;
        padding: 4px 12px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        list-style: none;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        &>li {
            margin: 3px
        }
    }
}
