body {
    min-height: 100vh;
    background-color: #ecc3cc;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide-if-no-script {
    // by default hide, if script works it'll show the element
    display: none;
}

p {
    margin: 0 0 1rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
